<!-- Home -->
<section class="banner-section">
    <div class="content-home ">
        <h1 class="font-75 w-100">منصة الاختبار انوسوفت</h1>
        <p class="font-55 w-10">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
            ويُستخدم في صناعات المطابع ودور النشر.</p>
        <a href="#" class="font-65">التسجيل في المنصة</a>
    </div>
</section>

<!-- About -->
<section class="pb-5">
    <div class="container-xl about-divi">
        <div class="row col-lg-11 mx-auto px-0">
            <h2 class="font-75 col-12 text-center">المزايا و الأهداف</h2>
            <div class="col-md-6 mb-3">
                <div class="about-card">
                    <span class="ico-card"><i class="fas fa-hands-helping"></i></span>
                    <h3 class="font-75">مبادرات</h3>
                    <p class="font-55">كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت
                        مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
                        شكلي لهذه الأحرف.</p>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="about-card">
                    <span class="ico-card"><i class="fas fa-hands-helping"></i></span>

                    <h3 class="font-75">فرص</h3>
                    <p class="font-55">كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت
                        مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع
                        شكلي لهذه الأحرف.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Initiatives -->
<section class="py-5">
    <div class="container-xl">
        <div class="row">
            <h2 class="col-12 hd2 mb-5">المبادرات</h2>

            <div class="col-md-4 mb-4">
                <div class="ini-card">
                    <div class="img-card">
                        <img src="../../../assets/img/card-1.png" />
                    </div>
                    <h3 class="font-75">عشان أحب السعودية</h3>
                    <a href="#" class="font-65"> التقاصيل <i class="fas fa-long-arrow-alt-left mr-2"></i></a>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="ini-card">
                    <div class="img-card">
                        <img src="../../../assets/img/card-1.png" />
                    </div>
                    <h3 class="font-75">عشان أحب السعودية</h3>
                    <a href="#" class="font-65"> التقاصيل <i class="fas fa-long-arrow-alt-left mr-2"></i></a>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="ini-card">
                    <div class="img-card">
                        <img src="../../../assets/img/card-1.png" />
                    </div>
                    <h3 class="font-75">عشان أحب السعودية</h3>
                    <a href="#" class="font-65"> التقاصيل <i class="fas fa-long-arrow-alt-left mr-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- chances -->
<section class="py-5">
    <div class="chances-divi">
        <div class="container-xl">
            <div class="row align-items-start">
                <div class="col-lg-3 hd-divi">
                    <h2 class="font-75">فرص</h2>
                    <p class="font-55">ما هو “لوريم إيبسوم” ؟</p>
                    <a href="#" class="font-65">جميع الفرص</a>
                </div>
                <div class="col-lg-9 slider-ch">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <article class="slide">
                                <div class="cn-slide">
                                    <img src="../../../assets/img/1-1362522.jpg" alt="img 1">
    
                                    <div class="tx-slide">
                                        <h3 class="font-75">عشان أحب الشرقية</h3>
                                        <p class="font-55">يا شباب الشرقية جهزوا نفسكم وحضروا إبداعاتكم سنتواجد في الكورنيش،
                                            وننفذ مشروعنا الأول الفني لتجميل الشرقية</p>
                                        <div class="footer-art font-55">
                                            <span class="ico-art"><i class="fas fa-map-marker"></i> الدمام</span>
                                            <span class="ico-art"><i class="fas fa-umbrella-beach"></i> مجال فني </span>
                                            <span class="ico-art"><i class="fas fa-circle"></i> ١٢ يناير ٢٠٢١ </span>
                                        </div>
                                    </div>
                                </div>
    
                            </article>
                        </ng-template>
    
                        <ng-template carouselSlide>
                            <article class="slide">
                                <div class="cn-slide">
                                    <img src="../../../assets/img/1-1362522.jpg" alt="img 1">
    
                                    <div class="tx-slide">
                                        <h3 class="font-75">عشان أحب الشرقية</h3>
                                        <p class="font-55">يا شباب الشرقية جهزوا نفسكم وحضروا إبداعاتكم سنتواجد في الكورنيش،
                                            وننفذ مشروعنا الأول الفني لتجميل الشرقية</p>
                                        <div class="footer-art font-55">
                                            <span class="ico-art"><i class="fas fa-map-marker"></i> الدمام</span>
                                            <span class="ico-art"><i class="fas fa-umbrella-beach"></i> مجال فني </span>
                                            <span class="ico-art"><i class="fas fa-circle"></i> ١٢ يناير ٢٠٢١ </span>
                                        </div>
                                    </div>
                                </div>
    
                            </article>
                        </ng-template>
    
                        <ng-template carouselSlide>
                            <article class="slide">
                                <div class="cn-slide">
                                    <img src="../../../assets/img/1-1362522.jpg" alt="img 1">
    
                                    <div class="tx-slide">
                                        <h3 class="font-75">عشان أحب الشرقية</h3>
                                        <p class="font-55">يا شباب الشرقية جهزوا نفسكم وحضروا إبداعاتكم سنتواجد في الكورنيش،
                                            وننفذ مشروعنا الأول الفني لتجميل الشرقية</p>
                                        <div class="footer-art font-55">
                                            <span class="ico-art"><i class="fas fa-map-marker"></i> الدمام</span>
                                            <span class="ico-art"><i class="fas fa-umbrella-beach"></i> مجال فني </span>
                                            <span class="ico-art"><i class="fas fa-circle"></i> ١٢ يناير ٢٠٢١ </span>
                                        </div>
                                    </div>
                                </div>
    
                            </article>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Achievements -->
<section class="py-5 ach-divi-section">
    <div class="container-xl text-center">
        <h2 class="hd2">الإنجازات</h2>
        <h3 class="font-55 h3-a">صور و الأثر يتحدث</h3>
        <p class="font-65 p-a">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على
            الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.</p>
        <div class="slider-ch">
            <owl-carousel-o [options]="customOptions2">
                <ng-template carouselSlide>
                    <article class="slide">
                        <div class="cn-slide">
                            <img src="../../../assets/img/1-1362522.jpg" alt="img 1">
                            <p class="font-55">خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له
                        </div>

                    </article>
                </ng-template>


                <ng-template carouselSlide>
                    <article class="slide">
                        <div class="cn-slide">
                            <img src="../../../assets/img/1-1362522.jpg" alt="img 1">
                            <p class="font-55">خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له
                        </div>

                    </article>
                </ng-template>


                <ng-template carouselSlide>
                    <article class="slide">
                        <div class="cn-slide">
                            <img src="../../../assets/img/1-1362522.jpg" alt="img 1">
                            <p class="font-55">خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له
                        </div>

                    </article>
                </ng-template>

            </owl-carousel-o>
        </div>
    </div>
</section>

<!-- Partnerships -->
<section class="Partners-divi py-5">
    <div class="container-xl text-center">
        <h2 class="hd2">الشراكات</h2>

        <div class="slider-ch">
            <owl-carousel-o [options]="customOptions3">
                <ng-template carouselSlide>
                    <article class="slide">
                        <div class="cn-slide">
                            <img src="../../../assets/img/angular-icon-1.svg" alt="img 1">
                        </div>
                        <h3 class="font-55">
                            Angular
                        </h3>

                    </article>
                </ng-template>

                <ng-template carouselSlide>
                    <article class="slide">
                        <div class="cn-slide">
                            <img src="../../../assets/img/javascript.svg" alt="img 1">
                        </div>
                        <h3 class="font-55">
                            JavaScript
                        </h3>

                    </article>
                </ng-template>

                <ng-template carouselSlide>
                    <article class="slide">
                        <div class="cn-slide">
                            <img src="../../../assets/img/css3.svg" alt="img 1">
                        </div>
                        <h3 class="font-55">
                            CSS
                        </h3>

                    </article>
                </ng-template>

                <ng-template carouselSlide>
                    <article class="slide">
                        <div class="cn-slide">
                            <img src="../../../assets/img/bootstrap.svg" alt="img 1">
                        </div>
                        <h3 class="font-55">
                            Bootstrap
                        </h3>

                    </article>
                </ng-template>

                <ng-template carouselSlide>
                    <article class="slide">
                        <div class="cn-slide">
                            <img src="../../../assets/img/react.svg" alt="img 1">
                        </div>
                        <h3 class="font-55">
                            React.js
                        </h3>

                    </article>
                </ng-template>


            </owl-carousel-o>
        </div>
    </div>
</section>

<!-- Contact US -->
<section class="contact-us py-5">
    <form class="container-xl">
        <div class="row">
            <h2 class="col-12 hd2 mb-5">تواصل معنا</h2>
            <div class="col-md-6 form-group">
                <input type="text" placeholder="الإسم" class="font-65 form-control" />
            </div>
            <div class="col-md-6 form-group">
                <input type="email" placeholder="البريد الإلكتروني" class="font-65 form-control" />
            </div>
            <div class="col-12 form-group">
                <textarea class="font-65 form-control" placeholder="رسالتك"></textarea>
            </div>
            <div class="col-auto mx-lg-0 mx-auto text-right col-lg-12">
                <button class="btn font-65">ارسال</button>
            </div>
        </div>
    </form>
</section>