// --------------BootStrap
@import '~bootstrap/dist/css/bootstrap.min.css';

// ------------FontAwesome
@import "~@fortawesome/fontawesome-free/css/all.min.css";


@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

// -----------Fonts
@font-face {
    font-family: 'FrutigerLTArabic55Roman';
    src: url('assets/fonts/FrutigerLTArabic-55Roman.woff2') format('woff2'),
        url('assets/fonts/FrutigerLTArabic-55Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'FrutigerLTArabic65Bold';
    src: url('assets/fonts/FrutigerLTArabic-65Bold.woff2') format('woff2'),
        url('assets/fonts/FrutigerLTArabic-65Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FrutigerLTArabic75Black';
    src: url('assets/fonts/FrutigerLTArabic-75Black.woff2') format('woff2'),
        url('assets/fonts/FrutigerLTArabic-75Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


.font-55{
    font-family: 'FrutigerLTArabic55Roman' !important;
}

.font-65{
    font-family: 'FrutigerLTArabic65Bold' !important;
}

.font-75{
    font-family: 'FrutigerLTArabic75Black' !important;
}


// -----Heading
.hd2{
    font-size: 27px;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #262626;
    font-family: 'FrutigerLTArabic75Black';
}

.main-page{
    direction: rtl;
    padding-top: 60px;
}